[2016-04-24 05:01] davelab6 opened #1 "GSOC Admin Tasks"
- [x] thank accepted proposal and mentors
- [x] create github repo github.com/sugarlab/sugar-font-activity
- [x] create github repo gh-pages blog, starting with proposal solicitation text
- [x] DC apply to join sugar labs membership
- [x] EH apply to join sugar labs membership
- [x] YA apply to join sugar labs membership
- [x] add yash's proposal to blog
- [x] add DC's js/python email to blog
- [x

[2016-04-24 13:13] davelab6 opened #2 "Spanish Translation"
In [this IAEP thread](http://lists.sugarlabs.org/archive/iaep/2016-April/018022.html) some facts emerged:

Therefore translating the activity is Spanish is essential.

I can arrange for the translation to be done, but we'll need to set up the 'infrastructure' in the activity for this.

[2016-04-24 13:18] davelab6 opened #3 "Lesson Planning Guide"
In [this IAEP thread](http://lists.sugarlabs.org/archive/iaep/2016-April/018022.html) some facts emerged, including:

For Home-use:
- [ ] A "guided tour" should be created, and activated on first use. https://turtle.sugarlabs.org has one, and http://www.jeffpickhardt.com/guiders is a library for doing that kind of thing. I'm not sure how easy it is to do in GTK.

[2016-04-24 13:18] davelab6 opened #4 "Interactive Guided Tour"
In [this IAEP thread](http://lists.sugarlabs.org/archive/iaep/2016-April/018022.html) some facts emerged, including:

For School-use:
- [ ] A "train the trainer" should be created, for teachers to be able to plan a series of classroom lessons using the editor

[2016-04-25 04:44] davelab6 commented on #1
@YashAgarwal please add your proposal to the blog in the gh-pages branch of this repo, and let us know here if you have any trouble. Probably add the PDF to https://github.com/sugarlabs/font-editor-activity/tree/gh-pages/files and then make a short text linking to it?

[2016-04-29 06:26] YashAgarwal commented on #1
have uploaded a pdf to
https://github.com/sugarlabs/font-editor-activity/tree/gh-pages/files/SugarGSoC2016YashAgarwalProposal.pdf

[2016-04-29 13:04] davelab6 commented on #1
The file is good! Next step is to make a blog post the links to it and explains it. Also, please add the source file for the PDF :)

This issue has a set of tasks (with the "github flavor markdown" markup) so let's keep it open until all the tasks are checked off :)

[2016-04-30 11:47] samdroid-apps commented on #4
I'm quite interested in what you mean by this.  Are you going to make a lesson plan activity or an onboarding routine for the font editor?  Or should I just wait and see :)

[2016-05-02 03:58] davelab6 commented on #1
@YashAgarwal Hope you can upload an updated source file (or even markdown copy :)  soon

[2016-05-02 04:08] YashAgarwal commented on #1
@davelab6  here is the docs link for my proposal, I'll upload markdown in an hour
https://docs.google.com/document/d/1aemTOw8WbOjfLg_2LjZRPe51nWuv4Xo0ms9MTWMf0wI/edit?usp=sharing

[2016-05-02 05:11] YashAgarwal commented on #1
@davelab6  I have added the markdown for the proposal, the markdown may be a little messy-- using it for the first time

[2016-05-06 01:43] davelab6 commented on #1
@YashAgarwal it was fine, the only issue was that the numbered lists were not working quite right, but I fixed them up :)

@eliheuer and @YashAgarwal are you both members now?

[2016-05-06 05:51] YashAgarwal commented on #1
I did send a mail in the format you specified, but haven't received a
reply/notification yet, do they send those?

On Fri, May 6, 2016 at 7:13 AM Dave Crossland notifications@github.com
wrote:

[2016-05-10 21:06] davelab6 commented on #1
@YashAgarwal did you get a confirmation?

[2016-05-11 08:07] YashAgarwal commented on #1
No, I haven't. Should I send it again?

On Wed, May 11, 2016 at 2:36 AM Dave Crossland notifications@github.com
wrote:

[2016-05-11 11:45] davelab6 commented on #1
No its ok, maybe we need to pass your evaluation stage in the warm up
period of GSOC before you can be confirmed as a Member :)

[2016-05-11 17:55] davelab6 opened #12 "Blog post about the type design process"
I should make a blog post about the process, using the timeline chart I have somewhere

[2016-05-11 17:56] davelab6 commented on #12
Ah the chart is in http://designwithfontforge.com/en-US/Planning_Your_Project.html

[2016-05-13 02:57] davelab6 opened #15 "Improve the blog theme"
Some nice ones I found in http://jekyllthemes.org....
- http://laobubu.net/jekyll-theme-EasyBook/
- https://alexcarpenter.github.io/material-jekyll-theme/

[2016-05-16 09:25] YashAgarwal opened #16 "the stars displayed next to the fonts are unresponsive to clicks"
Inside the edit-font activity stars displayed next to the fonts are unresponsive and the selections can not be changed. The following GIF demonstrates the issue.
![The GIF showing the issue](https://raw.githubusercontent.com/sugarlabs/edit-fonts-activity/gh-pages/files/img/out.gif)

[2016-05-16 13:17] davelab6 opened #17 "Travis CI + Flake8"
- [x] Set up Travis CI with [flake8](http://flake8.pycqa.org/en/latest/)

http://victorlin.me/posts/2013/09/19/fall-in-love-with-continuous-testing-and-integration-travis-ci

Eg https://github.com/edx/harprofiler/pull/52/files

https://pypi.python.org/pypi/tox might be good too
- [x] Set 'master' branch to be a 'protected branch' in Github to prevent regressions
- [x] Fix all errors reported by fl

[2016-05-16 13:17] davelab6 commented on #16
Please also assign a milestone to each issue :)

[2016-05-16 13:18] davelab6 commented on #16
BTW How do you make these gif screencasts? :)

[2016-05-16 14:09] YashAgarwal commented on #16
I used this
http://www.unixmen.com/make-animated-gif-screencasts-easily-byzanz/

short version :
sudo add-apt-repository ppa:fossfreedom/byzanz
sudo apt-get update
sudo apt-get install byzanz
byzanz-record --duration=20 --x=0 --y=0 --width=1024 --height=800 output.gif

On Mon, May 16, 2016 at 6:48 PM Dave Crossland notifications@github.com
wrote:

[2016-05-16 18:39] davelab6 commented on #15
Create and link profiles (https://github.com/sugarlabs/edit-fonts-activity/tree/gh-pages/profiles)

[2016-05-16 19:58] samdroid-apps commented on #17
If you find how to do this, please post it here.  I would love a simple
Flake8 CI runner for all sugarlabs repos!!!

On Mon, May 16, 2016 at 11:17 PM, Dave Crossland
notifications@github.com wrote:

[2016-05-17 00:29] davelab6 commented on #17
I got stuck with the root requirement :( https://travis-ci.org/davelab6/edit-fonts-activity

[2016-05-20 23:53] eliheuer commented on #15
I was thinking about this today, will start on this

[2016-05-21 14:41] YashAgarwal commented on #15
I like these.......

http://hemangsk.github.io/Gravity/index.html

https://github.com/tnguyen/blueface

https://alexcarpenter.github.io/material-jekyll-theme/

On Sat, May 21, 2016 at 5:23 AM Eli Heuer notifications@github.com wrote:

[2016-05-22 04:55] davelab6 commented on #1
I added a profile for me - https://sugarlabs.github.io/edit-fonts-activity/profiles/dave-crossland - please do add your own when you have a moment :)

[2016-05-22 04:59] davelab6 commented on #15
I don't think we should go with Material... Gravity is too grey... Of those, I like blueface the best :)

[2016-05-22 21:05] YashAgarwal commented on #16
The stars are displayed for the fonts which are hard coded in the array DEFAULT_FONTS = ['Sans', 'Serif', 'Monospace'], So to solve this properly I need to make a file in sugar stating the list of favourite fonts.
1. Where should this file be stored? (I don't only this activity will be using the list, it should be a system-wide setting)
2. What will be the meaning of "favourite fonts" for the suga

[2016-05-22 21:18] davelab6 commented on #16
Please ask on sugar-devel :)

I think there is no meaning outside the activity; its just a way of marking fonts in a shortlist, similar to the 'collection' in www.google.com/fonts

Its possible that we could have more than one 'favourite fonts' list, expanding the functionality to collections management; this is the functionality provided by the OS X "Font Book" font manager. Here's a screencast I

[2016-05-22 21:47] eliheuer commented on #15
Thoughts on this one if edited to fit the Sugar visual style? --  https://github.com/willianjusten/will-jekyll-template

[2016-05-22 21:52] davelab6 commented on #15
Yeah I like that :)

[2016-05-22 21:53] YashAgarwal commented on #15
Its great :D even if we don't edit it
maybe we can remove the hamburger icon, the menu is quite useless for us

On Mon, May 23, 2016 at 3:17 AM Eli Heuer notifications@github.com wrote:

[2016-05-22 22:00] YashAgarwal commented on #15
looks better in grey(rgb(51,51,51))

On Mon, May 23, 2016 at 3:23 AM Yash Agarwal agrwal.ysh94@gmail.com wrote:

[2016-05-24 15:25] eliheuer commented on #15
I've been trying to get a pull request setup with the [will-jekyll-template](https://github.com/willianjusten/will-jekyll-template), but I'm having trouble getting Gulp to compile my updated assets locally.  I'll keep trying to figure it out but if anyone has experience with Gulp I could use your help.

[2016-05-24 16:22] YashAgarwal commented on #15
maybe you can try this https://robwise.github.io/blog/jekyll-and-gulp

On Tue, May 24, 2016 at 8:55 PM Eli Heuer notifications@github.com wrote:

[2016-05-24 16:26] eliheuer commented on #15
Perfect, thank you!

[2016-05-26 21:03] davelab6 commented on #17
https://pygobject.readthedocs.io/en/latest/testing.html is relevant

[2016-05-26 21:04] davelab6 commented on #17
https://pygobject.readthedocs.io/en/latest/memory_leaks.html suggests we could automate checking for memory leaks

[2016-06-08 08:12] YashAgarwal commented on #17
Travis CI shows a build error after the ./osbuild shell command because there is no response after 100ms

[code]

This is the .travis.yml file used : https://github.com/sugarlabs/edit-fonts-activity/blob/yash-v0/.travis.yml

[2016-06-08 08:16] YashAgarwal commented on #17
here is the complete error log for the above mentioned build https://raw.githubusercontent.com/sugarlabs/edit-fonts-activity/yash-v0/log.txt

[2016-06-08 10:33] samdroid-apps commented on #17
Osbuild shell just runs a shell.  Shells wait for user input to do commands.  You might need to supply some user input.  What do you want to do?

[2016-06-14 04:36] davelab6 commented on #17
@YashAgarwal Alright! You've got the same error (no response) because you're opening a shell and then not giving it valid commands as input (and initially, not giving it any commands at all :) And now @samdroid-apps has just explained how to send input to the shell - thank you Sam! :)

For the travis file, it doesn't really matter which section of the travis file you execute the commands in; the d

[2016-06-14 04:39] davelab6 commented on #16
@YashAgarwal when do you want to schedule this?

[2016-06-14 07:50] samdroid-apps commented on #17
Normal flake 8 should be fine.

I don't think there is a way to upload the bundles to ASLO automatically.  Maybe mint some RPMs and put them in a CPOR?

[2016-06-14 07:55] samdroid-apps commented on #17
@davelab6, how do you set a custom docker container?  I was reading the docs and I couldn't find anything.  Also the announcement said:

If it is not avaliable, is there an alternate CI provider that offers that?  Is there something that we can self host if needed?

[2016-06-14 08:08] samdroid-apps commented on #17
@davelab6, maybe look at http://docs.gitlab.com/ce/ci/quick_start/README.html

GitLab is FLOSS (yay!) and with the runners you can setup your own and it runs it on a specific machine that you setup (like a fedora 23 docker, or an xo emulator, or even maybe an xo).

It also looks like very travis style config file :)

[2016-06-14 08:20] samdroid-apps commented on #17
Forget all those proposals. here is the best one:

SL once (thanks to @dnarvaez) had an amazing buildbot that ran all the tests.  But it decayed and the server got rebooted.  The docs were never found and it decayed and died :(

BUT I just stumbled upon a repo for it... with tones of docs!  https://github.com/sugarlabs/sugar-buildbot

Let's get that great thing back and running again!

[2016-06-14 11:47] davelab6 commented on #17
Except it isn't, because the business model is making the important bits proprietary

[2016-06-14 11:48] davelab6 commented on #17
Please do; however, I think it is likely to decay and die, and isn't worth bothering with :)

[2016-06-14 11:52] YashAgarwal commented on #17
@davelab6 should I focus this now or rather develop the activity for the mid-term evaluation, I think it will be better to get the activity to a release stage before doing all of this

[2016-06-14 11:52] davelab6 commented on #17
The announcement was a long time ago :D https://docs.travis-ci.com/user/docker/ offers an example in https://github.com/travis-ci/docker-sinatra and with a quick Google search for `travis docker fedora` I found https://github.com/zuazo/kitchen-in-travis#official-centos-7-and-fedora-images :)

[2016-06-14 11:52] davelab6 commented on #17
@YashAgarwal I agree, focus on the activity functionality :)

[2016-06-14 12:22] davelab6 opened #32 "Create a new font, and saving it"
- [ ] The Number 1 feature for a font editor in the 'font manager' page is creating a new font
- [x] The Number 1 part 2 feature is saving a new font, in a source format.

[2016-06-14 12:23] davelab6 opened #33 "Loading a font"
- [x] The Number 2 feature is loading a previously saved font (in source format)

[2016-06-14 12:23] davelab6 opened #34 "Export"
- [ ] The Number 3 feature is exporting a source-format font into a binary OTF (only)

[2016-06-14 12:23] davelab6 opened #35 "Import"
- [ ] The Number 4 feature is importing a binary-format font into the editor

Let's start with OTF only for now

[2016-06-14 12:27] davelab6 commented on #35
Let's start with OTF only for now

[2016-06-14 12:27] davelab6 commented on #34
Let's start with OTF only for now

[2016-06-16 08:51] YashAgarwal commented on #34
Having some errors with this
I've tried multiple ufo files but with some defcon doesn't show an error but ufo2ft does or vice versa

[code]

Here is the code:
loading the font

[code]

the export function

[code]

[2016-06-16 08:56] YashAgarwal commented on #35
Both OTF and TTF are imported in Trufont using

[code]

I'm can't figure out what should be given in the path variable
if I use `file_path = "./<name>.ttf"` it doesn't work

I tried this outside sugar and works just fine

[2016-06-16 08:59] YashAgarwal commented on #33
loading the ufo is done using defcon

[code]

for some ufo files this fails and gives the error

[code]

saving a ufo file is also done through defcon

[code]

but I'm getting the same error as above for all the ufo files I tried

[2016-06-16 12:31] davelab6 commented on #35
What is the full path of the TTF?

[2016-06-16 12:32] davelab6 commented on #35
`file_path = "NotoSerif-Regular.ttf"` might work

[2016-06-16 12:49] davelab6 commented on #34
[code]

I suggest NOT doing TTFs, only OTFs.

[2016-06-16 12:53] YashAgarwal commented on #34
the commands are same for both of them, so its the same thing

On Thu, Jun 16, 2016 at 6:19 PM Dave Crossland notifications@github.com
wrote:

[2016-06-16 12:54] davelab6 commented on #34
Can you successfully export both kinds? :)

[2016-06-16 12:57] YashAgarwal commented on #35
@davelab6 the .ttf file is in the main activity folder together with the ufo files (which I can access with `file_path = "<name>.ufo" using defcon`)

[2016-06-16 12:58] davelab6 commented on #35
What is the error?

https://github.com/sugarlabs/Flappy-Birds/blob/testing/scorescreen.py#L47 suggests it will work without `./`

[2016-06-16 13:13] YashAgarwal commented on #34
Yes, I can
(but only outside sugar for now)
here is the code snippet for doing that

[code]

[2016-06-16 13:19] davelab6 commented on #34
If the only problem is with kerning, then we can just ignore kerning for the 1.0 release

[2016-06-16 21:02] davelab6 commented on #34
I recommend using fontmake itself; your example misses steps like

https://github.com/googlei18n/fontmake/blob/master/Lib/fontmake/font_project.py#L129-L135

[2016-06-21 03:13] davelab6 opened #40 "Git submodules"
Instead of copying the entire source tree of other git repos into the project directly, use git submodules to include them

[2016-06-21 14:20] YashAgarwal commented on #1
I got my membership confirmation mail today, should I close this?

[2016-06-21 15:55] davelab6 commented on #1
Great to know! Please leave it open as I need to thank all applicants and ask them to review the project :)

[2016-06-21 18:37] YashAgarwal commented on #35
This is working now, but only if the **file_name** is **hardcoded**.
I don't know what `FILTER_TYPE` to use in the `Objectchooser` Dialog for loading a ttf/otf font file.

[2016-06-21 21:53] YashAgarwal commented on #32
Getting a error with saving to sugar file system,
I can save the font outside sugar but inside sugar I am getting this  error:
`ufoLib.UFOLibError : metainfo.plist is missing in /save/file/path` while saving the file using the following commands

[code]

[2016-06-21 22:34] davelab6 commented on #32
Can activities save their files inside themselves? I thought they would be
saved into the journal.

[2016-06-21 23:19] YashAgarwal commented on #32
I think the journal entry stores a link to the file which is stored in the activity data folder

[2016-06-21 23:33] davelab6 commented on #32
https://developer.sugarlabs.org/sugar3/sugar3.datastore.datastore.html
perhaps

[2016-06-22 00:13] YashAgarwal commented on #32
oh, I can save the file just fine at the specified path
the error is caused by

[code]

Error is:
`ValueError: No file found at dbus.String(u 'path/to/ufo/file' )`

[2016-06-22 02:23] davelab6 opened #42 "Save, Load UFOZ format"
http://unifiedfontobject.org/roadmap/ has a UFOZ format, and we can save limited XO-1 disk space by using it.

[2016-06-22 20:59] YashAgarwal opened #43 "Activating/Deactivating a Font file"
I can use the following to install a .ttf or .otf file in sugar but I require root access for it

[code]

I can use `subprocess` module to run the commands through my activity but how do I provide it root access or is there another way to do this?

[2016-06-22 22:13] samdroid-apps commented on #43
Can you use the `~/.fonts` directory?  That is how I usually install
fonts on my computer :)

On Thu, Jun 23, 2016 at 6:59 AM, Yash Agarwal
notifications@github.com wrote:

[2016-06-22 22:29] YashAgarwal commented on #43
@samdroid-apps  yeah I can, but that folder doesn't exist on my sugar environment, all the fonts were stored in /usr/share/fonts
won't my activity need root for writing to that directory to?

[2016-06-22 22:30] samdroid-apps commented on #43
No, just create a `~/.fonts` directory.

On Thu, Jun 23, 2016 at 8:29 AM, Yash Agarwal
notifications@github.com wrote:

[2016-06-22 22:31] walterbender commented on #43
You don't need root for -/fonts
On Jun 22, 2016 6:29 PM, "Yash Agarwal" notifications@github.com wrote:

[2016-06-23 01:50] YashAgarwal commented on #43
oh, thanks @walterbender

[2016-06-23 12:13] YashAgarwal opened #44 "Unknown contour type found in NotoSerif.ttf"
[code]

there are 4 points before a qcurve type font inside this glyph file. Trufont also crashes while rendering this segment so I'll mark it as someday for now

I guess this maybe related to spiro spline fitting

[2016-06-23 12:50] davelab6 commented on #44
Please  also file an issue on trufont
On Jun 23, 2016 8:26 AM, Dave Crossland dave@lab6.com wrote:

[2016-06-23 12:50] davelab6 commented on #44
Spiro is totally different.

This is a regular truetype quadratic outline and you need to convert it to
a cubic with github.com/googlei18n/cu2qu

[2016-06-23 20:15] adrientetar commented on #44
It crashes because you're using an old version.

[2016-06-24 12:15] davelab6 commented on #44
@YashAgarwal did you update everything?

[2016-06-24 22:51] YashAgarwal commented on #16
This cell is not receiving any click events

[code]

Is any other property I need to set to make it receive click events?
It is receiving hover events though as you can see in the gif

I looked at the `activitieslist.py` for reference but still couldn't find any differences

[2016-06-26 15:38] YashAgarwal commented on #43
if the font file is in `/user/share/fonts` then I won't be able to **deactivate** the font file by moving the file out of the folder and running `fc-cache -f -v` or is there any other way of deactivating font without having root privileges.

[2016-06-26 15:45] davelab6 commented on #43
@YashAgarwal you should be able to get root with `gksudo` (http://askubuntu.com/questions/51572/why-should-i-use-gksudo-for-gtk-apps-instead-of-sudo)

However, one of the things Eli and I discussed yesterday in the youtube video is that the editor could by default only deal with UFOs; that means you could avoid dealing with `/usr/share/fonts` entirely

[2016-06-27 00:35] davelab6 opened #46 "Make a mock for how a selection tool can work"
https://vimeo.com/34351633 shows the kinds of bezier point selection options we need.

[2016-07-01 05:27] YashAgarwal commented on #33
Using Object Chooser I am not able to see the files corresponding to the following mime types

[code]

I have added all of them in my activity.info [file](https://github.com/sugarlabs/edit-fonts-activity/blob/master/activity/activity.info)

and here's how I'm calling the Object Chooser dialog

[code]

I only see the above-mentioned file types if I select the Anything filter in the Object Chooser d

[2016-07-01 05:32] YashAgarwal commented on #33
I ran `Gio.content_type_guess("file.plist", None)[0]` which gives the output `application/octet-stream`

[2016-07-01 05:39] YashAgarwal commented on #16
**SOLVED**
This is my current solution I would call it an alternative way to the one sugar uses currently to mark activities as favorite in the journal activity list which I wasn't able to implement

[code]

where this is the `CellRendererClickablePixbuf` class definition

[code]

This solves this bug but I'll keep this open in case someone knows how this is done in the journal

[2016-07-01 05:51] davelab6 commented on #16
@YashAgarwal I suggest posting in the sugar-devel list with a subject similar to "Help needed with Sugar Journal style star'ing" :)

[2016-07-01 05:56] davelab6 commented on #33
Can you set the dialog to open with 'Anything' preselected?

If not, I guess the OS has a mime registry that lacks definitions for these mime types. Perhaps @quozl knows how OLPC OS mime types are defined, and can suggest how you might be able to get these added to the next release...

Or, you could use `application/zip` which should allow you to pick `.ufoz` files - this is cutting edge technolog

[2016-07-01 09:19] YashAgarwal commented on #40
adding defcon as a sub module doesn't work,
I need to add `defcon/Lib/` as `defcon/` to make the activity recognise defcon as a module
this goes for every other library I need in my activity

[2016-07-01 09:24] YashAgarwal commented on #33
I don't know the syntax for this, but I'll look for it

This sounds doable, I'll start with this then

[2016-07-01 10:34] samdroid-apps commented on #40
There was previously a bug in the bundlebuilder that meant submodules were not built into sugar bundles.  A fix for that bug was merged in Sugar 0.109.0.1 (the most recent release).  Maybe try updating to the very latest sugar-toolkit-gtk3 version?

[2016-07-01 10:58] quozl commented on #33
OLPC OS on Fedora 18 and _also_ Ubuntu 16.04 lack any definition of;
- MIME types `application/x-font-opentype`, `application/font-sfnt` or `application/x-plist`,
- file types `.plist`, or `.ufo`.

Don't restrict your activity to a presumed future operating system release.

Use a local MIME registry.  This is to reside in `~/.local/share/mime` and may contain `magic`, `globs` or other files.  `str

[2016-07-03 17:09] davelab6 opened #49 "Ability to set a new font as the system font"
In http://www.mail-archive.com/sugar-devel@lists.sugarlabs.org/msg42334.html Tony suggested that users could make their font the system font.

To do this, we would need to merge the user's font into the system font, so that all the glyphs the user didn't draw (yet) still work. The fontTools tool `pyftmerge` can do this.
1. Walk through the whole process by hand
2. Write code to automate the proces

[2016-07-06 16:47] #12 closed, assigned to nobody

[2016-07-06 16:49] davelab6 commented on #12
This was discussed briefly in https://sugarlabs.github.io/edit-fonts-activity/irc-meeting-4

[2016-07-06 16:51] davelab6 commented on #17
After 3 weeks of focus on functionality, I suggest now is a good time to return to a focus on process :)

[2016-07-06 16:52] davelab6 commented on #32
I believe the 'new font' feature now just need to be confirmed in the next .xo build, but seems clear from the screencast in https://sugarlabs.github.io/edit-fonts-activity/week-6-work that its working.

@YashAgarwal for save, is this working with ufo zip format?

[2016-07-06 16:52] davelab6 commented on #16
I believe this now just needs to be confirmed in the next .xo build

[2016-07-06 16:53] davelab6 commented on #33
@YashAgarwal is the ufo zip format working for load and save?

[2016-07-06 16:53] davelab6 commented on #32
I believe the 'new font' feature now just need to be confirmed in the next .xo build, but seems clear from the screencast in https://sugarlabs.github.io/edit-fonts-activity/week-6-work that its working.

@YashAgarwal for save, is this working with ufo zip format?

[2016-07-06 16:54] davelab6 commented on #42
Closing this as its now a core feature

[2016-07-06 16:54] #42 closed, assigned to nobody

[2016-07-06 16:55] davelab6 commented on #43
I believe this is now ready for testing in the next .xo release

[2016-07-06 17:00] davelab6 commented on #35
@YashAgarwal what is the status of this?

[2016-07-06 17:02] davelab6 commented on #35
@eliheuer in the same way that kidpix isn't photoshop, I wonder that perhaps we should not enable import and only allow editing UFOs (potentially even UFOs with a flag to show they are compatible with Edit Fonts activity...)

[2016-07-06 17:03] davelab6 commented on #34
I believe the next step is to confirm this works in the upcoming .xo release

[2016-07-06 22:15] davelab6 opened #54 "Add .gitignore, rename \~ directory"
- [x] Add a `.gitignore` file with `*.pyc` to ignore those files. I wonder what other kinds of files to add... https://github.com/googlefonts/gf-docs/blob/master/ProjectChecklist.md#keep-a-clean-repo-with-gitignore lists a few others
- [x] I think having a directory called `\~` is super dangerous because it is so easy to confuse with the actual `~` directory :) I suggest renaming it `Samples` or s

[2016-07-07 02:43] davelab6 opened #55 "Errors when running `python EditFonts.py`"
- [x] How to start the Activity from the source tree? :)

[code]
- [x] This seem easy to fix :)

[code]
- [x] This seem easy to fix too :)

[code]
- [x] This is a bug upstream, already fixed (https://github.com/sugarlabs/sugar-toolkit-gtk3/commit/aea65408f06ec930696b14bc9c2c452ceaaf6853)

[code]
- [x] This is a bug upstream, I filed issue https://bugs.sugarlabs.org/ticket/4965

[code]
- [x] This s

[2016-07-07 03:13] davelab6 commented on #55
Okay, seems I have to run `./setup.py dev` then go to the Home screen, list view, and run Edit Fonts. But this just refuses to work. @samdroid-apps is this the only way to start an activity?

When I run `./setup.py install` I get this error about fontmake:

<img width="1166" alt="screen shot 2016-07-06 at 23 10 38" src="https://cloud.githubusercontent.com/assets/261579/16641477/e4809466-43ce-11e6-

[2016-07-07 09:07] YashAgarwal commented on #55
@davelab6 are you able to run it now?

[2016-07-07 11:36] davelab6 commented on #55
No; `python setup.py install` has the same error and when i run it after `python setup.py dev` I see this

<img width="536" alt="screen shot 2016-07-07 at 07 36 13" src="https://cloud.githubusercontent.com/assets/261579/16651996/84dba45a-4415-11e6-9fe5-fa3e1589a383.png">

[2016-07-07 13:03] davelab6 commented on #55
@YashAgarwal To reproduce, grab https://archive.fedoraproject.org/pub/fedora/linux/releases/23/Live/x86_64/Fedora-Live-SoaS-x86_64-23-10.iso and boot it in VirtualBox or similar and run:

[code]

[2016-07-09 19:36] #54 closed, assigned to YashAgarwal

[2016-07-09 19:54] davelab6 commented on #17
Looking at https://travis-ci.org/sugarlabs/edit-fonts-activity flake8 is running on our entire repo, including all the modules we don't develop which don't conform to pep8, and this makes the log too long to display haha :)

In ([.travis.yml](https://github.com/sugarlabs/edit-fonts-activity/blob/eb4c001900c3fd3e39fdb8b8ab2103687d3d08b8/.travis.yml#L22-L25)) we run

[code]

We can run

[code]

I ma

[2016-07-09 19:55] davelab6 commented on #17
I added a couple of tasks to the top:
- Fix all errors reported by flake8
- Set 'master' branch to be a 'protected branch' in Github to prevent regressions

[2016-07-09 20:12] davelab6 commented on #40
I see that @YashAgarwal added fontmake as a submodule, but didn't add the `.gitmodule` file; I've addressed this in https://github.com/sugarlabs/edit-fonts-activity/pull/60

[2016-07-09 20:17] davelab6 commented on #17
Okay, now I've set the 'master' branch to be a 'protected branch' in Github to prevent regressions like this:

<img width="685" alt="screen shot 2016-07-09 at 16 17 12" src="https://cloud.githubusercontent.com/assets/261579/16710070/a4c59406-45f0-11e6-87b7-8f4350d319f7.png">

[2016-07-09 20:19] davelab6 commented on #17
This means that no one can commit to master directly any more; you HAVE to work on a branch and make a PR and wait for Travis to pass that branch before it can be merged  :)

[2016-07-09 20:33] davelab6 commented on #17
There were 939 errors reported by flake8, I've added them to the top of this issue and will tick off the ones I'm fixing as I'm fixing them, in part of PR https://github.com/sugarlabs/edit-fonts-activity/pull/61

[2016-07-09 21:05] davelab6 commented on #17
haha wow, Travis currently takes 50 minutes to complete!  :) I'm going to adjust it

[2016-07-09 21:37] davelab6 commented on #17
Okay, so, I undid branch protection to adjust the travis file to run fast, by commenting out all the osbuild stuff, and used this command to find out which files had the most flake8 errors:

[code]

[2016-07-09 21:43] davelab6 commented on #17
So, Eli will take `manager_page.py` by running the flake8 command specified in `.travis.yml` on that file, and editing it, until it is clean:

[code]

And I'll do the same with `create_font_page.py`

And so on until they are all clean

[2016-07-09 23:15] davelab6 opened #62 "Use .format() for placing string variables inside strings"
[custom_box.py#L21](https://github.com/sugarlabs/edit-fonts-activity/blob/2b96f4e48353e087e15d84f352595a46ac692f25/editfonts/widgets/custom_box.py#L21) has

[code]

and this style of string formatting is deprecated; it should be done with [str.format()](https://docs.python.org/2/library/string.html#format-examples)

[code]

This isn't a pep8 error that flake8 can pick up (AFAIK) but something I'm

[2016-07-09 23:24] davelab6 opened #63 "Convert localIcons.py to SVG files that are read and instantiated"
There are currently 5 localIcon.py files and each has strings defining SVG data.

I think we should convert these to SVG files, and then read and instantiate them....

@YashAgarwal what do you reckon? :)

[code]

[2016-07-10 09:22] YashAgarwal commented on #63
these are for the buttons in the font manager page, i'll import them from proper svg files and use them

[2016-07-10 23:20] davelab6 commented on #17
Okay, they are all clean :)

Now when opening a pull request, Travis runs flake8 on the codebase:

<img width="708" alt="screen shot 2016-07-10 at 19 06 40" src="https://cloud.githubusercontent.com/assets/261579/16716707/8c335760-46d2-11e6-92c3-83f5b1eaf242.png">

And if it passes, the PR looks like this:

<img width="706" alt="screen shot 2016-07-10 at 19 13 40" src="https://cloud.githubuserconte

[2016-07-10 23:22] #17 closed, assigned to davelab6, YashAgarwal

[2016-07-10 23:30] samdroid-apps commented on #17
Hey @davelab6,

great work with this ci! is it possible to get this running on sugar{,-toolkit-gtk3} as well?  Is this portable to other activities?

[2016-07-10 23:40] davelab6 opened #68 "Add issue and pr guidelines"
At some point we should have issue and PR templates, but this isn't a high priority until we have a useful Activity with users :)
- [ ] https://help.github.com/articles/creating-an-issue-template-for-your-repository/
- [ ] https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/

[2016-07-10 23:50] davelab6 commented on #17
@samdroid-apps thanks :) Yes, the [current .travis.yml](https://github.com/sugarlabs/edit-fonts-activity/blob/61ba3559b4e161c574d82ebf4cc956f5a22a35a2/.travis.yml) file is really just a few lines now, so it should be portable to any python project. However, there will be a lot of errors in those codebases I expect, and probably there are other more important things to do for the codebase - like mo

[2016-07-11 00:19] davelab6 commented on #62
https://docs.python.org/2/library/string.html#format-examples

[2016-07-11 05:28] davelab6 commented on #17
Also I note that when a PR isn't in sync with master, it can't be merged - looks like this:

<img width="709" alt="screen shot 2016-07-11 at 01 28 09" src="https://cloud.githubusercontent.com/assets/261579/16720672/c2baa07a-4706-11e6-8073-cfbd2f0f0d93.png">

[2016-07-14 20:00] davelab6 commented on #43
On Ubuntu 14.04, the fonts folder path is `~/.local/share/fonts` so we'll need to account for that too.

[2016-07-21 07:29] samdroid-apps opened #75 "Can't import pango"
Activity does not start.  Log:

[code]

You can't mix the old static bindings (`import gtk, pango`) with the new bindings (`from gi.repository import Pango`).  Here are the docs for the new bindings:  http://lazka.github.io/pgi-docs/index.html

Tested on fedora 24.

[2016-07-30 22:09] davelab6 commented on #33
It work!

[2016-07-30 22:09] #33 closed, assigned to YashAgarwal

[2016-07-30 22:10] davelab6 commented on #32
Currently on the XO-4, the 'new font' button on the welcome screen doesn't work, but saving using the top toolbar button works :)

[2016-07-30 22:11] davelab6 commented on #35
Next action is to add a button to the welcome screen for 'import' that uses the Extractor python library to convert an OTF or TTF to a UFO

[2016-07-30 22:12] davelab6 commented on #55
The .xo activity bundle now runs :)

[2016-07-30 22:12] #55 closed, assigned to YashAgarwal

[2016-07-30 22:17] davelab6 commented on #43
Next action is to uncomment this code in PR #74

[2016-07-30 22:20] davelab6 opened #76 "Closing contours doesn't work"
- [ ] Currently you can right click to activate the pen tool and place corner points. But you can not close the contour, because there is meant to be a ring, but it isn't rendered, and can not be clicked. Instead, to close a path, click the first point.
- [ ] I found that when I did click the first point, unexpectedly, a point was placed at the top left of the canvas, so that should be debugged an

[2016-07-30 22:24] davelab6 opened #77 "Make a mock UI for the editor page"
We need a editor page mock up that shows what we have today and what should be modified, visually
- [x] reorder `welcome / something / editor / manager` to `welcome / manager / something / editor`
- [x] comment out the code that places the large label of the font family name and 'see details' at the top of the page
- [x] comment out the code that places the row of glyph names with the pagination a

[2016-07-30 22:30] davelab6 opened #78 "Make a mock UI for the welcome page"
Welcome page need a mock; I suggest 4 panels that quarter the page:
- [x] top left: Sample Font
- [x] top right: New blank font
- [x] bottom left: Load file
- [x] bottom right: Import OTF/TTF

Also on the top bar,
- [x] change the configuration of the activity name so that the long input box is not visible and instead accessed by the activity icon's dropdown menu.
- [x] ~~~remove the telepathy cir

[2016-07-30 22:35] davelab6 opened #79 "Make a mock for how to see and set the 'smooth' attribute of (selected) points"
Make a mock for how to see and set the 'smooth' attribute on points.

For example add a left-side toolbar for edit/select

[2016-07-30 22:42] davelab6 opened #80 "Enable editing the side bearings"
We need some way to set the sidebearings that is (a) fast to interact with and (b) obvious and easy to interact with.

Perhaps: Allow editing the right/left side bearing by dragging the left/right edge of the canvas

Or: In a bigger drawing area, draw 2 vertical lines that represent each side-bearing, and these can be moved to set the sidebearings

[2016-07-30 22:46] davelab6 opened #81 "Configure Travis to make a .xo bundle"
Something is going into an infinite loop on Travis, and this needs to be investigated and fixed :)

[2016-07-30 22:54] davelab6 commented on #40
Rather than use git submodules to show the code is from 3rd parties, let's use a directory named that way (so its self-describing) to give us more control about code layout:

[code]

[2016-07-30 23:00] #44 closed, assigned to YashAgarwal

[2016-07-30 23:14] davelab6 opened #82 "Use a UFO of Geo with just 101 glyphs as the demo font"
The Latin + Cyrillic font used as a sample today is cool but its a big font with many many points and a complex design. Let's make a UFO of "Geo" by Ben Weiner, which is a simple font. :)

[2016-07-31 13:08] YashAgarwal commented on #81
I just needed admin permission to reset this, now we need to append the travi.yml file to make a xo bundle

[2016-07-31 15:31] davelab6 commented on #81
I don't understand exactly :) what is the next action and who should take
it? :)

[2016-07-31 18:12] #75 closed, assigned to YashAgarwal

[2016-07-31 19:08] #40 closed, assigned to YashAgarwal

[2016-08-01 02:13] YashAgarwal commented on #81
We need to add [this](https://docs.travis-ci.com/user/deployment/releases)
so that whenever I make a commit with a specific tag, it builds the xo and adds its as a release

[2016-08-01 21:43] YashAgarwal commented on #34
I'm getting the following error "can't find module compreffor" when using the module ufo2ft
[this](https://github.com/googlei18n/compreffor) is the git repo for this module but I don't know how I should include this in my sugar activity as it requires a ./setup.py install

[2016-08-01 21:55] YashAgarwal commented on #34
ah, I figured out how to add the compreffor module but now I'm getting an error in it

[code]

[2016-08-01 23:00] davelab6 commented on #34
I suggest reporting the bug upstream

[2016-08-02 20:41] davelab6 commented on #35
Reopening to ensure we track answering the questions in https://github.com/sugarlabs/edit-fonts-activity/pull/84 :)

[2016-08-03 16:47] eliheuer commented on #78
I made a blog post about this here: https://sugarlabs.github.io/edit-fonts-activity//welcome-page-ux-concept.html

[2016-08-03 18:56] YashAgarwal commented on #35
Here is the Import function in action!
![image](https://github.com/sugarlabs/edit-fonts-activity/raw/gh-pages/files/img/out.gif)

I this I have to set the filter to **Anything** before selecting any file so can I set the filter to **Anything**  or to a **mime type for otf or ttf** in the code itself
I don't think sugar has any .otf or .ttf mime type incorporate, but I'd be happy to be wrong on thi

[2016-08-03 19:02] YashAgarwal commented on #34
the previous error was due to the **ufo2ft** module
Now I'm trying to use fontmake, It works fine on my system but in sugar it requires a dependency which I don't know how to add
this is the error I'm getting

[code]

[2016-08-03 19:15] YashAgarwal opened #85 "Unable to setup Readthedocs"
The webhook works and I'm able to build the docs on my system by using the following while in my repo's `root` folder

[code]

but on every commit the build fails and I'm unable to see the error log, I tried deleting the entry and importing the repo again but got the same result

I think there is some issue in the conf.py file but can't to seem to find it
here's the [link](https://github.com/sugar

[2016-08-03 19:24] YashAgarwal opened #86 "Error on exiting the activity"
On exiting the activity I get the following error in increasing number of copies with the activity's runtime

[code]

I tried importing the `globals.py` file in a python shell
and got the same error on exiting so I think the error is in the `globals.py` file
here's a [link](https://github.com/sugarlabs/edit-fonts-activity/blob/master/editfonts/globals.py)

[2016-08-03 19:30] YashAgarwal opened #87 "How to update a widget on a global variable change"
I have some widgets in my activity which display the glyphs and should be updated if the glyph is altered.
One way of hacking around this is just deleting all of those widgets and creating new ones on page upload but on a system like a xo this method leads to a very slow loading of pages

[2016-08-03 23:21] davelab6 commented on #87
I guess a simple solution is to have a refresh button on the left side or
the right side of the toolbar.

A more intricate solution is to use the defcon observer classes

[2016-08-04 00:40] YashAgarwal commented on #78
This is my Progress so far
![screenshot](https://raw.githubusercontent.com/sugarlabs/edit-fonts-activity/gh-pages/files/img/screenshot-welcome-screen.png)
I should be done with it by tomorrow

[2016-08-04 20:21] davelab6 commented on #78
I noticed in https://github.com/sugarlabs/edit-fonts-activity/issues/78#issuecomment-237417844 that the colors used in the button SVGs are the same as the mock; but the svg used for the actiivty icon at top left is red/yellow. Would be great to keep this open until the buttons use the user-colors :)

[2016-08-06 13:38] YashAgarwal commented on #78
@davelab6  I don't think we need to remove the telepathy circle icon completely as it is incorporated in the ActivityToolbarButton class in the sugar3 toolkit/graphics and to remove it I'll have to make a subclass of the ActivityToolbarButto

[2016-08-06 18:37] davelab6 commented on #82
Reopening with confirmation label to track

[2016-08-06 18:38] davelab6 commented on #78
Sounds good!

[2016-08-06 18:39] #78 closed, assigned to YashAgarwal

[2016-08-06 20:43] #32 closed, assigned to davelab6

[2016-08-06 21:27] davelab6 commented on #35
Reopening to confirm

[2016-08-06 21:27] davelab6 commented on #62
Reopening to confirm

[2016-08-07 19:07] YashAgarwal commented on #34
Can anyone help with the above error?

[2016-08-07 19:36] davelab6 commented on #34
The problem is that the `booleanOperations/pyClipper.so` is compiled and linked against a different copy of the C runtime `/lib64/libstdc++.so.6`

You can try installing the https://pypi.python.org/pypi/pyclipper package and using that instead of the .so file included in the git repo

[2016-08-08 13:38] davelab6 commented on #77
@eliheuer any news on this? :)

[2016-08-09 20:32] davelab6 commented on #46
This editor mock that Eli made for the blog is helpful, I think. Here the selection tool is the button at the top of the left-side menu.

![editor mock](https://sugarlabs.github.io/edit-fonts-activity//files/img/wireframe_concept_01_basic_icons.svg)

[2016-08-09 20:36] davelab6 commented on #77
This editor mock that Eli made for the blog shows this:

![editor mock](https://sugarlabs.github.io/edit-fonts-activity//files/img/wireframe_concept_01_basic_icons.svg)

In this mock on the left side bar, the tools are:
- select
- move points
- draw new points
- knife tool
- measure tool
- not sure what this magic cigar is ;)
- a 'stamp' tool, for duplicating a shape
- create rectangle
- create el

[2016-08-10 00:13] eliheuer opened #91 "Update the glyph order so 'A-Z'+'0-9' come first."
When we see a grid of glyphs, 'A-Z'+'0-9' should come first, then diacritics, etc...

[2016-08-10 16:19] davelab6 opened #92 "Make point handles as SVG files"
The handles should be SVG icons, so someone new at coding can change their size and shape.

[2016-08-12 10:28] YashAgarwal commented on #34
yesterday in IM @davelab6  suggested to use the selective functions out of FontProject to avoid pyclipper by avoiding booleanOperations completely
but on running

[code]

in a python interpreter in the terminal activity inside sugar importing booleanOperation can not be avoided and hence we get the same GLIBXX not found error

If I comment out the booleanOperations import statement in the font_pro

[2016-08-12 20:22] #82 closed, assigned to davelab6

[2016-08-12 20:22] #92 closed, assigned to nobody

[2016-08-12 20:49] YashAgarwal opened #94 "Use fontTools.misc.Transform to transform the coordinates"
Use fontTools.misc.Transform to transform the coordinates before drawing the glyphs in a drawing area of arbitrary height
http://www.robodocs.info/fontToolsDocs/source/library/misc/transform.html

[2016-08-12 20:52] YashAgarwal commented on #94
using the following image as a reference
![glyph](https://developer.apple.com/library/prerelease/content/documentation/TextFonts/Conceptual/CocoaTextArchitecture/Art/glyphterms_2x.png)
any given glyph has to be drawn inside a rectangle of `H x W`,
 where `H = ascender - descender` and `W = advance`

[2016-08-18 10:50] YashAgarwal commented on #34
@walterbender can you have a look at this
running

[code]

still gives the error

[code]

I've tried copying the way using in the Physics activity but that doesn't even get called because here the  `booleanOperations/booleanOperationManager.py` file directly includes the `pyClipper.so`

then I tried importing the ``libstdc++.so` file  before importing fontmake,

[code]

but then I get the error on

[2016-08-18 12:18] davelab6 commented on #34
@YashAgarwal I suggest looking again at avoiding booleanOperations. With only a few days left, I would prefer to have a .xo that can export fonts with overlaps.

[2018-04-02 01:42] quozl opened #97 "Port from GConf to Gio.Settings"
https://github.com/sugarlabs/edit-fonts-activity/blob/5573a4b139d703bff70a78f3bb5a0a4a6cb6b1a2/editfonts/globals.py#L74

[2018-08-31 02:11] #1 closed, assigned to davelab6